

body {
    background: #34B9A6;
    margin: 0;
}

header {
    background: #0C3D41;
    display: flex;
    align-items: center;
    width: 100%;
}

    #logo {}

    #icons {}

#search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
}

    #search div {
        width: 30%;
        padding: 1%;
        background: #fff;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #input-search {
        border: none;
        background: none;
    }

    #input-search::placeholder {
        border: none;
        background: none;
        font-family: Quicksand;
        color: black;
    }

        #input-search:focus {
            box-shadow: 0;
            outline: 0;
            font-family: Quicksand;
        }

main {
    display: flex;
    background: #F1EEDE;
    border-radius: 15px;
    width: 1136px;
    margin: 20px 0 0 100px;
}

    #filters {
        background: #0C3D41;
        border-radius: 15px;
        width: 200px;
        color: #ECD061;
        font: bold 18px Quicksand;
    }


    section#buttonsales svg {
        position: fixed;
        bottom: 30px;
        left: 40px;
    }

    #products {}