:root{
    overflow-x: hidden;
}

body {
    background: #34B9A6;
    margin: 0;
}

header{
    background: #0C3D41;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 20px;
}

    .header-block{
        width: 1200px;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .header-block-left{
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            #logo{
                width: 275px;
                display: flex;
                height: 100%;
                justify-content: space-between;
            }
                #logo div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    #logo div span{
                        font-weight: bold;
                        font-size: 30px;
                        font-family: 'Quicksand';
                        color: #ECD061;
                    }
        .header-block-right{
            width: 200px;
            display: flex;
            justify-content: space-between;
        }

        header * * :hover {
            cursor: pointer;
        }

#search {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
}

    #search div {
        width: 460px;
        padding: 15px;
        background: #fff;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #input-search {
        border: none;
        background: none;
        width: 430px;
    }

    #input-search::placeholder {
        border: none;
        background: none;
        font-family: Quicksand;
        color: black;
    }

        #input-search:focus {
            box-shadow: 0;
            outline: 0;
            font-family: Quicksand;
        }

main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
    .main-box{
        display: flex;
        border-radius: 15px;
        width: 1200px;
        height: auto;
        background: #F1EEDE;


    }


#filters {
    background: #0C3D41;
    border-top-left-radius: 15px;
    width: 200px;
    height: 100%;
    color: #ECD061;
    font: bold 18px Quicksand;
    padding-left: 20px;
    padding-right: 20px;
}
#aside-content {
    padding-top: 20px;
    position:sticky;
    top:1px;
}
#aside-content h2:first-child{
    padding: 0;
    margin: 0;
}
#aside-content ul{
    list-style-type:square;
}
#aside-content a {
    text-decoration: none;        
    color: #ECD061;
}
#aside-content a:hover {
    text-decoration: underline;
}
#aside-separator {
    height: 3px;
    width: calc(100% - 30px);
    background: #ECD061;
    margin-bottom: 30px;
    margin-top: 30px;
}
#aside-content img {
    width: 100%;
    height: auto;
    margin-right: 15px;
}
#last {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: line-through;
}
#now{
    display: inline-block;
    width: 100%;
    text-align: center;
}



    #buttonsales {
        position: fixed;
        bottom: 30px;
        left: 40px;
    }

    #sales {
        display: none;
        position: fixed;
        bottom: 30px;
        left: 40px;
        width: 230px;
        height: 100px;
        background: #0C3D41;
        border: 3px solid #ECD061;
        box-sizing: border-box;
        border-radius: 15px;
    }

        #buttonsales,#sales:hover{
            cursor: pointer;
        }

    #sales p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        align-self: center;
        text-align: center;
        color: #ECD061;
    }

    #products {
        width: 936px;
        height: 2500px;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;
        top: 40px;

        font-family: 'Nunito';
    }
        .book-container{
            width: 200px;
            height: 500px;

            display: flex;
            flex-direction: column;
            align-items:baseline;
            justify-content: flex-end;
        }
            .book-container :first-child {
                border-radius: 5px;
                width: inherit;
                height: 280px;
            }
            .book-info{
                padding: 15px;
                color: #0C3D41;
                height: 200px;

                display: flex;
                flex-direction: column;
            }
                .book-title{
                    font-size: large;
                    font-weight: 700;
                    text-align: justify;
                    margin: 0;
                }
                .book-price{
                    font-size: 26px;
                    font-weight: 900;
                    text-align: center;
                    margin: 0;
                }
                .book-container > .book-info > button {
                    all:unset;
                    background-color: #0C3D41;
                    color: #ECD061;
                    font-weight: 800;
                    font-size: 20px;
                    text-align: center;
                    height: 100px;
                    width: 190px;
                    border-radius: 20px;
                    
                }
                .book-container > .book-info > button:hover {
                    cursor: pointer;
                }

footer {
    background: #0C3D41;
    color: #fff;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font: 400 15px;
}

    footer ul {
        list-style: none;
        font: 300 13px Quicksand;
    }

    .icons:hover {
        cursor: pointer;
    }