

body {
    background: #34B9A6;
    margin: 0;
}

header {
    background: #0C3D41;
    display: flex;
    align-items: center;
    width: 100%;
}

    #logo {}

    #icons {}

#search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
}

    #search div {
        width: 200px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #input-search {
        border: none;
    }

        #input-search:focus {
            box-shadow: 0;
            outline: 0;
        }

main {
    display: flex;
    background: #F1EEDE;
    border-radius: 15px;
    width: 1136px;
    margin: 20px 0 0 100px;
}

    #filters {
        background: #0C3D41;
        border-radius: 15px;
        width: 200px;
        color: #ECD061;
        font: bold 18px Nunito;
    }

    #products {
        width: 936px;
        height: auto;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        font-family: 'Nunito';
    }
        .book-container{
            width: 200px;
            height: 380px;

            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0px 30px 0px;
        }
            .book-container :first-child {
                border-radius: 5px;
            }
            .book-info{
                padding: 5px;
                color: #0C3D41;
            }
                .book-title{
                    font-size: large;
                    font-weight: 700;
                    text-align: justify;
                }
                .book-price{
                    font-size: larger;
                    font-weight: 900;
                    text-align: right;
                }
        .overlay{
            width: 200px;
            position: absolute;
        }
            .book-detail{}